<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Cssoftclarity" translate="label" sortOrder="10">
             <label>CSSOFT CLARITY</label>
        </tab>
        <section id="claritysection" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Clarity Connect</label>
            <tab>Cssoftclarity</tab>
            <resource>CSSoft_Clarityconnector::configuration</resource>
            <!-- create group for fields in section -->
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <!-- create text type field -->
                <field id="clarity_token" translate="label comment" sortOrder="7" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                    <comment>Please add token provided by Microsoft Clarity</comment>
                </field>
            </group>
        </section>
    </system>
</config>